.laracache-modal-label-value {
    display: flex;
    align-items: center;

    span {
        margin-right: 8px;

        &:first-child {
            font-weight: 600;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.toolbar-container {
    .toolbar-buttons {
        opacity: 0;
        transition: all 300ms;
    }

    &:hover {
        .toolbar-buttons {
            opacity: 1;
        }
    }
}


.laracache-list-item {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: solid 1px rgba(var(--colors-gray-200));

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}


.shadow-none {
    box-shadow: 0 0 #0000;
}


.bg-red-500 {
    background-color:rgba(var(--colors-red-500)) !important;
}

.hover\:bg-red-400:hover {
    background-color:rgba(var(--colors-red-400)) !important;
}
